<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}} 
        <p>{{title}}</p> <!--for accesing any property of object in the app.send() in app.js we have to provide the key of that property in this double curly bracket-->
        <h4>Use this app to get the weather</h4>
        <form action="">
            <input type="text" placeholder="Enter the location">
            <button>
                Get Weather
            </button>

            <p id="msg1"></p>
            <p id="msg2"></p>
        </form>
    </div>
    
    {{>footer}}

    <script src="./js/app.js"></script>
</body>
</html>